/* ==================================================
   Basic Styles
================================================== */

html, body {
	height: 100%;
	width:100%;
	font-size: 100%;
}

body{
	background:#21252b;
	color:#AAAAAA;
	font-weight:300;
	font-size:16px;
	font-family: 'Titillium Web', sans-serif;
	line-height:28px;
	margin: 0;
}

h3 {
	color:#398bce;
	margin: 0px 16px 8px 16px;
}

a:link{
	color:#398bce;
}

a:visited{
	color:#398bce;
}

/* ==================================================
   Nav Bar
================================================== */	

#navbar{
	min-width: 200px;
	max-width: 300px;
	width: 20%;
	height: 100%;
	top: 0;
	background-color: #21252b;
	color:#398bce;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
}

.navbox {
	width: 100%;
	height: 16.5%;
	background-color: #2F3238;
	margin-bottom: 0.5%;
	text-align: center;
	object-fit: fill;
	position: relative;
}

.navtext {
	position: absolute;
	top: 40%;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: max(3vh, 2vw);
	word-wrap:break-word;
  }

/* ==================================================
   Nav Bar Hover Colors
================================================== */
.navbox:hover{
	color: #21252b;
}

#hover-1:hover{
	background-color:rgb(209, 113, 113);
}

#hover-2:hover{
	background-color:#faf884;
}

#hover-3:hover{
	background-color:#fea3aa;
}

#hover-4:hover{
	background-color:#f2a2e8;
}

#hover-5:hover{
	background-color:#baed91;
}

#hover-6:hover{
	background-color:rgb(20,103,178);
}

/* ==================================================
   Page Information
================================================== */	

#info {
	text-align: center;
	padding-left: calc(min(300px, max(200px, 20%)) + 10px);
	padding-right: 10px;
	width: calc(100% - min(300px, max(200px, 20%)) - 10);
}

.page {
	text-align: center;
	padding-top: 20px;
	margin-bottom: 10px;
    background:#2F3238;
}

.text-container {
	margin: auto;
	text-align: center;
	width: 90%;
}

.text-container p {
	margin: 0;
	padding-bottom: 10px;
	color:#AAAAAA;
}

/* ==================================================
   Styling
================================================== */	

.profile {
	transition: 0.15s ease;
    max-height: 300px;
    max-width: 100%;
}

.thumbnail {
    transition: 0.15s ease;
    max-height: 300px;
    max-width: 100%;
}

.contact {
	max-height: 80%;
	max-width: 80%;
	margin: auto;
	padding-top: max(10px, 6%);
}

.img-groups{
	text-align: center;
}