/* ==================================================
   Basic Styles
================================================== */

html, body {
	height: 100%;
	width:100%;
	font-size: 100%;
}

body{
	background:#21252b;
	color:#AAAAAA;
	font-weight:300;
	font-size:16px;
	font-family: 'Titillium Web', sans-serif;
	line-height:28px;
	margin: 0;
}

h3 {
	color:#398bce;
	margin: 0px 16px 8px 16px;
}

a:link{
	color:#398bce;
}

a:visited{
	color:#398bce;
}

/* ==================================================
   Id's
================================================== */	

#navbar{
	min-width: 200px;
	width: 20%;
	height: 100%;
	background-color: #21252b;
	position: fixed;
	text-align: center;
}

#navbar h3{
	margin: auto;
	padding-top: 5px;
	width: 90%;
	transition: color ease-out 0.2s, background ease 0.3s;
	background: #2F3238;
}

#navbar a{
	color:#398bce;
	text-decoration: none;
	cursor: pointer;
}

#navbar a:hover{
	color:#DE5E60;
}

#infosection {
	text-align: center;
	padding-left: max(200px, 20%);
	padding-right: 10px;
	width: calc(100% - max(200px, 20%) - 10px);
}

/* ==================================================
   Classes
================================================== */
.page {
	padding-top: 20px;
    background:#2F3238;
}

.page p {
	margin: 0px 16px 8px 16px;
	color:#AAAAAA;
}

.profile {
	transition: 0.15s ease;
    max-height: 300px;
    max-width: 100%;
}

.thumbnail {
    transition: 0.15s ease;
    max-height: 300px;
    max-width: 100%;
}

.contact {
	max-height: 60%;
    max-width: 60%;
    margin: auto;
    margin-top: 30%
}

.img-groups{
	text-align: center;
}

.navlinks{
	margin: 45% 0 0 0;
	text-align: center;
}

.navlinks p{
	font-size: 13pt;
	margin: auto;
	margin-top: 10px;
	padding-top: 5px;
	width: 80%;
	border-radius: 30px;
	transition: color ease-out 0.2s, background ease 0.3s;
	background: #2F3238;
}